:root {
    --primary-color: #f5f5f5;
    --secondary-color: #198754;
    --font-color: #131320;
    --heading-color: #121443;
    --transition: all 0.4s ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--heading-color);
}

body {
    /* background-color: var(--primary-color); */
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--font-color);
}

.btn-general {
    padding: 10px 30px;
    background-color: var(--secondary-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    transition: var(--transition);
}

.btn-general:hover,
.btn-general:active,
.btn-general:focus {
    color: var(--secondary-color);
    background-color: #fff;
    border-color: var(--secondary-color);
}

/* Header Start */
header {
    margin-top: 20px;
}

/* navbar */

/* navbar */

/* slider banner */
.banner {
    /* max-height: 500px; */
    margin-top: 30px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-inner {
    /* max-height: 500px !important; */
}

.carousel-caption {
    width: 55%;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-caption h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    color: #fff;
}

.banner-caption p {
    color: var(--primary-color);
}

/* slider banner */

/* Header End */

/* Course */
#course {
    margin: 100px 0;
}

.section-heading h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

.course-info {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.course-title h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
}

.course-title p {
    margin-bottom: 0.5rem;
}

.course-title h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--secondary-color);
}

/* Course End */

/* Register CTA */
#register {
    margin-bottom: 100px;
}

.cta-container {
    max-height: 300px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.cta-text {
    color: var(--primary-color);
}

.btn.cta-btn {
    padding: 10px 30px;
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    transition: var(--transition);
    color: var(--secondary-color);
}

.btn.cta-btn:hover,
.btn.cta-btn:focus,
.btn.cta-btn:active {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

/* Register CTA End*/

/* Student */
#student {
    margin-bottom: 100px;
}

.student-info {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.student-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

/* Student End*/

/* Feedback */
#feedback {
    margin-bottom: 100px;
}

/* Feedback End */

/* Faq */
#faq {
    margin-bottom: 100px;
}

/* Faq End */

/* Comapny */
#company {
    margin-bottom: 100px;
}

/* Comapny End */
/* Footer */
footer {
    max-height: 400px;
    /* background-color: #161616; */
}

/* Footer End */